doctype html
html
	head
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection")
		link(type="text/css" rel="stylesheet" href="css/style.css")
		title Blog App

	body
		header
			include ./templates/nav.pug

		main
			div.container
				- var i = 0
				for post in posts
					div.row
						div.col.s12.m12.l12
							div.card
								div.card-content.text-white
									span.card-title #{post.title}
									p #{post.text}
								div.card-action.align-right
									a(href="#comments"+i, id="#comments"+i) Show Comments
									- i++

		include ./templates/footer.pug


		script(type="text/javascript" src="js/jquery.min.js")
		script(type="text/javascript" src="js/materialize.min.js")
		script(type="text/javascript" src="js/main.js")