doctype html
html
	head
		-var title = 'Blog App - My Posts'
		include ./templates/head.pug

	body
		header
			include ./templates/nav.pug

		main
			div.container
				for post in posts
					div.row
						div.col.s12.m12.l12
							div.card
								div.card-content.text-white
									span.card-title
										a(href="/post/?id="+ post.id) #{post.title}
									p #{post.text}
									p Posted by #[span.orange-text #{post.user.username}]

		include ./templates/footer.pug
		include ./templates/scripts.pug