doctype html
html
	head
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection")
		link(type="text/css" rel="stylesheet" href="css/style.css")
		title Blog App

	body
		nav
			div.nav-wrapper
				div.container
					a(href='/', class='brand-logo') Logo

		div.container
			p.flow-text #{error}

		div.container
			div.row
				div.col.s12.m12.l12
					ul.tabs
						li.tab.col.s3: a(href='#signin' ) Sign In
						li.tab.col.s3: a(href='#signup' ) Sign Up

			div#signin.col.s12
				form(method="post" action="/signin")
					div.row
						div.input-field.col.s12.m12.l12
							input(type="text" name="signin[username]" placeholder="Username" class="validate")
					div.row
						div.input-field.col.s12.m12.l12
							input(type="password" name="signin[password]" placeholder="Password" class="validate")
					div.row
						div.input-field.col.s12.m12.l12
							button(type="submit" class="waves-effect waves-light btn right") Sign In

			div#signup.col.s12
				form(method="post" action="/signup")
					div.row
						div.input-field.col.s12.m12.l12
							input(type="text" name="signup[username]" placeholder="Username" class="validate")
					div.row
						div.input-field.col.s12.m12.l12
							input(type="password" name="signup[password]" placeholder="Password" class="validate")
					div.row
						div.input-field.col.s12.m12.l12
							input(type="password" name="signup[password_check]" placeholder="Re-enter Password" class="validate")
					div.row
						div.input-field.col.s12.m12.l12
							input(type="email" name="signup[email]" placeholder="Email" class="validate")
					div.row
						div.input-field.col.s12.m12.l12
							button(type="submit" class="waves-effect waves-light btn right") Sign Up

		main

		footer.page-footer
			div.container
				div.row
					div.col.s12.m12.l12
						h5.white-text Footer


		script(type="text/javascript" src="js/jquery.min.js")
		script(type="text/javascript" src="js/materialize.min.js")