doctype html
html
	head
		-var title = 'Blog App - Home'
		include ./templates/head.pug

	body
		header
			include ./templates/nav.pug

		main
			div.container
				table.striped.responsive-table
					thead
						tr
							th #
							th Username
							th Email
							th Total Posts
					tbody
						- var i = 1
						for user in users
							tr
								td=i
								td #{user.username}
								td #{user.email}
								td #{user.postCount}
								- i++
						


		include ./templates/footer.pug
		include ./templates/scripts.pug