body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.align-right {
	text-align: right;
}

.collapsible-padding {
	padding: 2em;
}

.tabs .indicator {
	background-color: #00bcd4;
}